@import "tailwindcss";

:root {
  --white-smoke: #f5f5f5;
  --aqua-color:#e5e9f7;
}



body {
  background: var(--white-smoke);
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
